# cache
*.idx*
*.dylib
*.dll
*.dat*
*.jct
/data/rs2cache/*


# class files
*.class
/bin
/bin/*

# error logs
hs_err_pid*
data/logs/error.log

# ide files
/target
*.iml
*.project
*.classpath
.idea/*
.settings/*
.git/*
